{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
  <h1>Rate my Teacher TJHSST</h1>
  <p>Welcome to Rate my Teacher TJHSST! Chose from the following departments:</p>
  <ul>
    <li>Math</li>
    <li>CS</li>
    <li>HUM</li>
    <li>IBET</li>
    <li>Tech Electives</li>
    <li>Science Electives</li>
    <li>Humanities Electives</li>
    <li>Arts and Music</li>
  </ul>
  <p>When submitting for a teacher, use only their last name. The system is case sensitive</p>
  <h3>Submit your rating!</h3>
  <hr>
  <form action="" method="post" class="form" role="form">
    {{ form.csrf_token() }}

    <div class="row">
      <div class="form-group col-md-6">
        {{ wtf.form_field(form.name_first, class='form-control', placeholder='Department') }}
      </div>
      <div class="form-group col-md-6">
        {{ wtf.form_field(form.name_last, class='form-control', placeholder='Teacher Last name') }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <p>Rate my Teacher - TJHSST Edition :). 100% anonymous ratings</p>
</div>
{% endblock %}
